*{
margin:0;
padding:0;

}


body{
     font-size:25px;
background-color:rgb(209, 214, 214);
padding:0;
margin:0;
}

header{
    justify-content:center;
     align-items:center;
     background-color: rgb(209, 214, 214);
     width:100%;
     padding-bottom: 2%;
}
header img{
    width:60%;
    margin:20px auto;
    display:flex;
}
#descricao{
    width:80%;
   height:auto;
   font-family: courier,monospace, serif;
   background-color: rgb(209, 214, 214);
   padding:5px;
   margin:auto;
   display:flex;
   text-align:left;
}
#descricao b{
    font-size:25px;
    padding:10px;
    margin:0;
    overflow: hidden; 
    font-family: courier,monospace, serif;
    
}.menu{
    height:60px;
    width:100%;
    background-color: #1C1C1C;
    font-family:Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}
.menu ul{
    list-style: none;
    position:relative;
}
.menu ul li{
    width:150px;
    float:left;
}
.menu a {
    padding:15px;
    display:block;
    text-decoration: none;
    text-align: center;
    background-color: #1C1C1C;
    color:#FFFFFF;
}
.menu a:hover{
    background-color: #FFF;
    color:#000;

}
label[for="bt_menu"]{
padding:5px;
background-color:rgb(209, 214, 214);
color:#000;
font-family: "Arial";
text-align: center;
font-size:30px;
cursor:pointer;
width:50px;
height:50px;
display: none;
}
#bt_menu{
    display:none;
}
.amostras{
    width:60%;
    height:auto;
     }

.amostra{
    width:95%;
    height:auto;
    overflow:hidden;
    margin:5px auto; 
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(209, 214, 214);
    text-decoration: #000;
    float:left;
    border:#1C1C1C 1px solid;
    border-radius: 5px;
}
.amostra .texto{
    color:#000;
    width:95%;
    margin:auto;
    font-family: Arial, Helvetica, sans-serif;
}

.amostra a{
    color:#000;
    font-size:25px;
    font-family: Arial, Helvetica, sans-serif;
    margin:auto;
    float:center;
    display:flex;
}
.amostra a button{
    color:#FFFFFF;
    text-align: center;
    display:flex;
    margin:10px auto;
}
.amostra button{
    color:#FFFFFF;
width:95%;
height:45px;
margin:10px auto;
cursor:pointer;
border-radius:5px;
border:none;
background-color:#1C1C1C;
font-size: 25px;
text-align:center;
display:flex;
padding:10px;
}

.amostra img {
    width:100%;
    height:auto;
    margin:auto;
    
} 
 .geral{
        max-width: 1100px;
    height:auto;
    overflow: hidden;
    margin:auto; 
    text-decoration: #000;
    font-family: 'Times New Roman', Times, serif;
 }
 main {
     width:90%;
     height:auto;
    overflow: hidden;
    margin:auto; 
    text-decoration: #000;
    font-family: 'Times New Roman', Times, serif;
     display:flex;
 }
 
 aside{
     width:30%;
     height:auto;
     border:1px #000 solid;
     border-radius: 5px;
     float:right;
     margin:10px auto;
display:column;
background-color:#c3c3c3;
padding:10px;
 }
 aside section{
    border:#000 1px solid;
    background-color: #d1d6d6;
    padding:5px 5px;
    border-radius: 10px;
    margin:15px auto;

 }
 aside section a{
     color:#000;
     text-decoration:underline;
 }
 aside .anuncie{
    border:1px #000 solid;
    background-color: #d1d6d6;
    padding:5px 5px;
    border-radius: 10px;
    margin:15px auto;

 }
 aside section .bioaside{
     margin-top: 0%;
 }
 
 aside .bioaside figure img{
     width:100%;
     height:auto;
     margin:auto;
     border-radius: 100%;
     border: 1px solid #1C1C1C ;
 }
 aside .bioaside figure{
     width:90%;
     margin:auto;
     height:auto;
 }
 aside .anuncie b{
     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
 aside .anuncie a {
     text-decoration:underline;
     color:#000;
 }
 aside .insta figure{
width:100%;
height:auto;
margin:0;
padding:0;
 }
aside .insta figure a img{
    width:100%;
    height:auto;
    margin:0;
    padding:0;
}
 
a {
    text-decoration:none;
}
p {
    padding:2px ;
     margin: 5px;
     color:#000;
     text-decoration: #000;
     background-color:rgb(209, 214, 214);
}
.espaco{
    height:30px;
}
article {
    width:60%;
    height:auto;
     text-align:left; 
       background-color: rgb(209, 214, 214);
       padding:0;
        margin:auto;
        float:left;
        font-family: Arial, Helvetica, sans-serif;
        font-size:20px;

}article img{
    width:100%;
    height:auto;
    margin:auto;
}
article a{
    text-decoration:underline;
    color:#000;
}
.tags{
    height:auto;
    width:90%;
    margin:auto;
    display:flex;
}
.tags .tag {
    margin:10px;
    text-decoration:underline;
    color:#1C1C1C;
}
.aumentarediminuirfonte{
    margin:10px;
    width:20%;
    height:auto;
    
}
#diminuir-fonte{
border-radius: 100%;
border:1px solid #808080;
padding:3px;
margin:0;
cursor:pointer;
float:left;
background-color:#c3c3c3;
}
#aumentar-fonte{
    border-radius: 100%;
    border:1px solid #808080;
    padding:3px;
    margin:0;
    cursor:pointer;
    float:right;
    background-color:#c3c3c3;
}




.data {
    float:right;
    color:#000;
    padding:5px;
    font-family: 'Courier New', Courier, monospace;
}
hr{
    width:90%;
    margin:10px auto;
}
 .btnpginicial{
width:90%;
margin:auto;
margin-bottom: 5px;
}
details{
    margin:10px auto;
    display:hidden;
    width:90%;
}
details nav ul{
    margin:20px 0px;
}
details nav ul a{
    text-decoration: underline;
    color:#000;
    font-size: 30px;
    margin:15px 5px;
}
summary{
    font-family: Arial, Helvetica, sans-serif;
    font-size:30px;
    text-align: center;
    cursor:pointer;
}
.url{
    border:1px solid grey;
    padding:10px;
    width:50%;
    height:auto;
    margin:auto;
    margin-bottom: 10px;
    display:block;
    float:left;
}
.compartilhe img{
    max-width:40px;
    height:auto;
    margin:5px;
}
.logoscomp{
display:flex;
flex-direction:row;
margin:10px;
}
.logoscomp ul{
    list-style: none;
}
.logoscomp ul li{
    list-style: none;
    display:inline-block;
}
.logoscomp ul li a{
    list-style: none;
}
.compartilhe h3 {
    font-family: "Arial";
    text-align:left;
    background-color:rgb(209, 214, 214) ;
    color:#000;
    margin:15px 5px;

}
.sugestoes{
    text-decoration:#000;
    color:#000;
    margin:auto;
    height:auto; 
    width:80%;
    padding:10px;
    margin:10px auto;
}
.sugestoes h3{
font-family: Arial, Helvetica, sans-serif;
text-align: left;
background-color:rgb(209, 214, 214) ;
color:#000;
margin:15px 5px;
}
.sugestoes ul {
    margin:10px 0;
}
.sugestoes ul a {
    text-decoration: underline;
    color:#000;
    margin:10px 5px;
}
/*-----------LOGIN     ----------------/////-----*/
input{
display:block;
height:55px;
width:60%;
margin:10px;
border-radius: 30px;
border:1px solid #000;
font-size:16pt;
padding:5px 20px;
}
input[type=submit]{
    border:none;
    background-color: #1C1C1C;
    color:#FFFFFF;
    cursor:pointer;
}
#msg-sucesso{
width:90%;
height:100px;
margin:10px auto;
background-color:#6A5ACD;
color:#FFFFFF;
padding:15px;
border-radius: 20px;
}
.msg-erro{
    width:90%;
    height:100px;
    margin:10px auto;
    background-color:#FF8C00;
    color:#000;
    font-size:30px;
    padding:15px;
border-radius: 20px;

}







/*-------------------------sobre--SOBRE-----------*/
#sobre{
    text-align: center;
     color:#000;
     font-family: courier,monospace, serif;
     font-weight:100;
     width:80%;
     height:auto;
     max-width:1038;
     margin:auto;
}
#sobre a{
    color:#000;
    text-decoration: underline;
}
#sobre img {
    float:left; 
    width:40%;
    margin:5%;
}
h1 {
    font-family:'Luminari,fantasy',sans-serif;
    font-weight: 700;
    color:#000; 
    text-align:left;
    padding:5px;
    margin:20px;
    /*font-family:'Luminari,fantasy',sans-serif;
    font-weight: 700;
    text-align: center; 
     margin-top: 30px;
     margin-bottom: 30px;
     background-color: rgba(137, 148, 161, 0.836);
     width:100%;*/
    }
h2 {
    font-family:'Luminari,fantasy',sans-serif;
    font-weight: 700;
    color:#000; 
    text-align:left;
    padding:5px;
    margin:20px;
}   
/*Contato*/
.contato {
    background-color: #000;
 margin:auto;
    height:auto;
    width:80%;
    border-radius: 10px;
    padding:10px;
}
.contato a {
    text-decoration: none;
    
} 
.contato a p{
    color:white;
}
.contato img{

    height:200px;
    width:auto;
}
.contato h2 {
    text-align:left;
        width:auto;
        height:auto;
        margin:auto;
    background-color:#000;
    color:#FFFFFF;
    
}
#links{
    background-color: #000;
    flex-wrap:wrap;
    display:flex;
}
.blocos{
background-color:#000;
height:auto;
width:40%;
font-size:30px;
margin:auto;
margin-bottom: 20px;

text-align: center;
}
.blocos a p {
    font-size:30px;
    padding:1px;
        margin:2px;
    color:#FFFFFF;
    text-decoration:underline;
    background-color: #000;
    width:auto;
}
.rodapé{
    width:90%;
}
.btopo{
    margin:10px auto ;
    background-color: #1C1C1C;
    padding:10px;
    width:25%;
    height:auto;
    text-align: center;
    color:#FFFFFF;
    border-radius: 5px;
    margin-bottom:5px;
}
 .linksrodape{
    width:85%;
    height:auto;
    margin:auto;
}
.linksrodape ul li{
    list-style: none;
    margin:15px;
}
.linksrodape ul li a{
    color:#000;
    text-decoration:underline;
    background-color:  #d1d6d6;
    margin:10px;
}
 .copy{
    padding:25px;
    margin:auto;
    float:center;
}
/*Responsividade*/
@media only screen and ( max-width:1000px){
aside section p{
font-size: 20px;
}
}
@media only screen and ( max-width:800px){
    #descricao  {
        width:90%;
        overflow: hidden; 
        border:solid 1px #000;
     }
     #descricao b{
         font-size:23px;
         padding:3px;
         margin: 0px;
     }
    .menu{
        margin-top: 5px;
        margin-left: -100%;
        transition: all .4s;
        margin-bottom: 10px;
    }
    #bt_menu:checked ~ .menu{
        margin-left: 0;
    }
.menu ul li{
        width:100%;
        float:none;
    }
    label[for="bt_menu"]{
        display:block;
        margin: 20px;
    }
    main{
        width:95%;
    }
    aside{
        display:none;
    }
    article{
        width:95%;
    }
    .amostras{
width:95%;
float:center;
margin:auto;
} 
    .amostra img {
        width:100%;
        height:auto;
        margin:auto;
    } 
    .compartilhe img{
        width:35px;
        height:auto;
        margin:5px;
    }
    }

@media only screen and ( max-width:768px){
body {
    font-size: 15px; 
    overflow-x:hidden;
}
menu{
    background-color:rgb(209, 214, 214);
display:flex;
flex-direction:column;
}
/*Cabeçalho*/
header {
     justify-content:center;
     align-items:center;
     background-color: rgb(209, 214, 214);
     width:100%;
     margin:auto;
}
 #headerprincipal{
     width:100%;
 }
header img{
    width:100%;
    margin:3px;
}
h1{
    margin-top: 10px;
     margin-bottom: 10px;
}
h2 {
    text-decoration: none;
    padding:3px;
}
p{
    font-size: 19px;
    margin:10px 5px;
    
}
i{
    font-size:19px;
}
.amostra{
    width:100%;
    height:auto;
    overflow: hidden;
    margin:5px auto; 
}
.amostra a{
    font-size: 19px;
}
article{
    width:100%;
}
details nav ul a{
    text-decoration: underline;
    color:#000;
    font-size:20px;
    width:95%;
}
details summary{
    font-size: 20px;
    cursor:pointer;
}
.compartilhe img{
    width:30px;
    height:auto;
    margin:5px;
}
.url{
    border:1px solid grey;
    padding:8px;
    width:80%;
    height:auto;
    margin:auto;
    margin-bottom:9px;
}

/*Sobre*/
#sobre {
    height:auto;
    width:90%;
    justify-content:center;
    min-height:250px;
    text-align:left;
}
.contato {
    flex-direction:column;
    width:90%;
     justify-content:column;
     border-radius: 10px;
    }
    .contato h2{
        width:auto;
        margin:auto;
    }
    .blocos{
        padding:1px;
        margin:auto;
        flex-direction:column;
        width:90%;
        white-space: normal;
        margin-bottom:20px;
        height: auto;
    }
     .contato a {
        text-decoration: none;
        font-size:20px;
    } 
    .contato a p{
        color:white;
        font-size:20px;
    }
        .contato img{
            height:auto;
            width:100px;
        }
       a .btopo{
            text-decoration:none;
        
        }
    .btopo{
        margin:auto;
        margin-top:10px;
        background-color: #1C1C1C;
        padding:10px;
        width:80%;
        height:auto;
        text-align: center;
        color:#FFFFFF;
        border-radius: 5px;
        text-decoration: none;
    }
   }

   @media only screen and ( max-width:476px){
.compartilhe img{
    max-width:30px;
    height:auto;
    margin:5px;
}
.aumentarediminuirfonte{
    font-size:15px;
}
   }
   @media only screen and ( max-width:344px){
    .apoio form{
        margin-right:200vh;
    }
    .aumentarediminuirfonte{
       width:50%;
    }
   }